<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd">

	<reference id="indexing-service" interface="databook.listener.service.IndexingService"/>
	<bean id="dvn-irods-indexer" class="org.dfc.dvn.dvntoirods.DvnToIrodsIndexer" init-method="startup" destroy-method="shutdown">
		<property name="indexingService" ref="indexing-service"/>
	</bean>
</blueprint>